{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actualizar producto{% endblock %}
{% block content %}
{% include 'products/includes/products_menu.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
        {% if 'ok' in request.GET %}
          <p style="color:green;">
            Pagina editada correctamente.
            <a href="{{ product.get_absolute_url }}">Haz clic aqui para ver el resultado.</a>
          </p>
        {% endif %}
          <form action="" method="post" enctype="multipart/form-data">{% csrf_token %} 
            <table>
                {{ form.as_p }}
            </table>
            <div class="text-center">
              <input type="submit" value="Actualizar producto" class="btn btn-outline-warning btn-block"/>
          </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}